<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.clickercore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <action android:name="android.settings.action.MANAGE_OVERLAY_PERMISSION" />
        </intent>
    </queries>

    <application android:usesCleartextTraffic="true">
        <service
            android:name=".OverlayService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" 
                      android:value="Overlay for server time monitoring" />
        </service>

        <service
            android:name=".ClickerAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.view.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.view.AccessibilityService"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
